In [4]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [5]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [6]:
movies = pd.read_csv('/content/Movie_data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [7]:
# Write your code for inspection here
print(movies.shape)
print(type(movies.info()))

(5043, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
<class 'NoneType'>

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [8]:
# Write your code for column-wise null count here
column = movies.isnull().sum(axis=0)
print(column)

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [9]:
# Write your code for row-wise null count here
row = movies.isnull().sum(axis=1)
print(row)

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [10]:
# Write your code for column-wise null percentages here
null_per = round(100*(movies.isnull().sum()/len(movies.index)),2)
print(null_per)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [11]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
dropped_movies  = ['color','director_facebook_likes','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes','actor_2_name',
         'cast_total_facebook_likes','actor_3_name','duration','facenumber_in_poster','content_rating','country','movie_imdb_link','aspect_ratio','plot_keywords']
movies.drop(dropped_movies,inplace=True,axis=1)

In [12]:
movies.columns

Index(['director_name', 'num_critic_for_reviews', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'num_user_for_reviews', 'language', 'budget', 'title_year',
       'imdb_score', 'movie_facebook_likes'],
      dtype='object')

In [13]:
# Write your code for dropping the rows here
print(movies)

          director_name  num_critic_for_reviews        gross  \
0         James Cameron                   723.0  760505847.0
1        Gore Verbinski                   302.0  309404152.0
2            Sam Mendes                   602.0  200074175.0
3     Christopher Nolan                   813.0  448130642.0
4           Doug Walker                     NaN          NaN
...                 ...                     ...          ...
5038        Scott Smith                     1.0          NaN
5039                NaN                    43.0          NaN
5040   Benjamin Roberds                    13.0          NaN
5041        Daniel Hsia                    14.0      10443.0
5042           Jon Gunn                    43.0      85222.0

                               genres     actor_1_name  \
0     Action|Adventure|Fantasy|Sci-Fi      CCH Pounder
1            Action|Adventure|Fantasy      Johnny Depp
2           Action|Adventure|Thriller  Christoph Waltz
3                     Action|Thriller        Tom Hardy
4                         Documentary      Doug Walker
...                               ...              ...
5038                     Comedy|Drama      Eric Mabius
5039     Crime|Drama|Mystery|Thriller      Natalie Zea
5040            Drama|Horror|Thriller      Eva Boehnke
5041             Comedy|Drama|Romance        Alan Ruck
5042                      Documentary      John August

                                            movie_title  num_voted_users  \
0                                               Avatar            886204
1             Pirates of the Caribbean: At World's End            471220
2                                              Spectre            275868
3                                The Dark Knight Rises           1144337
4     Star Wars: Episode VII - The Force Awakens    ...                8
...                                                 ...              ...
5038                           Signed Sealed Delivered               629
5039                         The Following                         73839
5040                              A Plague So Pleasant                38
5041                                  Shanghai Calling              1255
5042                                 My Date with Drew              4285

      num_user_for_reviews language       budget  title_year  imdb_score  \
0                   3054.0  English  237000000.0      2009.0         7.9
1                   1238.0  English  300000000.0      2007.0         7.1
2                    994.0  English  245000000.0      2015.0         6.8
3                   2701.0  English  250000000.0      2012.0         8.5
4                      NaN      NaN          NaN         NaN         7.1
...                    ...      ...          ...         ...         ...
5038                   6.0  English          NaN      2013.0         7.7
5039                 359.0  English          NaN         NaN         7.5
5040                   3.0  English       1400.0      2013.0         6.3
5041                   9.0  English          NaN      2012.0         6.3
5042                  84.0  English       1100.0      2004.0         6.6

      movie_facebook_likes
0                    33000
1                        0
2                    85000
3                   164000
4                        0
...                    ...
5038                    84
5039                 32000
5040                    16
5041                   660
5042                   456

[5043 rows x 13 columns]

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [14]:
movies = movies[movies.isnull().sum(axis=1)<=5]
movies.isnull().sum()

director_name             102
num_critic_for_reviews     46
gross                     880
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
num_user_for_reviews       17
language                   10
budget                    488
title_year                104
imdb_score                  0
movie_facebook_likes        0
dtype: int64

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [15]:
# Write your code for dropping the rows here
columns_names = movies.isnull().sum()/len(movies)*100>5
columns_names

director_name             False
num_critic_for_reviews    False
gross                      True
genres                    False
actor_1_name              False
movie_title               False
num_voted_users           False
num_user_for_reviews      False
language                  False
budget                     True
title_year                False
imdb_score                False
movie_facebook_likes      False
dtype: bool

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [16]:
# Write your code for filling the NaN values in the 'language' column here
movies['language'].fillna('English',inplace=True)
movies.isnull().sum()

director_name             102
num_critic_for_reviews     46
gross                     880
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
num_user_for_reviews       17
language                    0
budget                    488
title_year                104
imdb_score                  0
movie_facebook_likes        0
dtype: int64

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [17]:
# Write your code for checking number of retained rows here

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [18]:
# Write your code for unit conversion here
movies.budget = movies.budget/100000
movies.gross = movies.gross/100000
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,James Cameron,723.0,7605.05847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.000,2009.0,7.9,33000
1,Gore Verbinski,302.0,3094.04152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3000.000,2007.0,7.1,0
2,Sam Mendes,602.0,2000.74175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2450.000,2015.0,6.8,85000
3,Christopher Nolan,813.0,4481.30642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2500.000,2012.0,8.5,164000
5,Andrew Stanton,462.0,730.58679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2637.000,2012.0,6.6,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,0.014,2013.0,6.3,16
5041,Daniel Hsia,14.0,0.10443,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660
5042,Jon Gunn,43.0,0.85222,Documentary,John August,My Date with Drew,4285,84.0,English,0.011,2004.0,6.6,456

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [19]:
# Write your code for creating the profit column here
movies['profit'] = movies['gross'] - movies['budget']
movies

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.05847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.000,2009.0,7.9,33000,5235.05847
1,Gore Verbinski,302.0,3094.04152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3000.000,2007.0,7.1,0,94.04152
2,Sam Mendes,602.0,2000.74175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2450.000,2015.0,6.8,85000,-449.25825
3,Christopher Nolan,813.0,4481.30642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2500.000,2012.0,8.5,164000,1981.30642
5,Andrew Stanton,462.0,730.58679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2637.000,2012.0,6.6,24000,-1906.41321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84,NaN
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000,NaN
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,0.014,2013.0,6.3,16,NaN
5041,Daniel Hsia,14.0,0.10443,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660,NaN
5042,Jon Gunn,43.0,0.85222,Documentary,John August,My Date with Drew,4285,84.0,English,0.011,2004.0,6.6,456,0.84122

In [20]:
# Write your code for sorting the dataframe here
movies.sort_values('profit')

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
2988,Joon-ho Bong,363.0,22.01412,Comedy|Drama|Horror|Sci-Fi,Doona Bae,The Host,68883,279.0,Korean,122155.00000,2006.0,7.0,7000,-122132.98588
3859,Chan-wook Park,202.0,2.11667,Crime|Drama,Min-sik Choi,Lady Vengeance,53508,131.0,Korean,42000.00000,2005.0,7.7,4000,-41997.88333
3005,Lajos Koltai,73.0,1.95888,Drama|Romance|War,Marcell Nagy,Fateless,5603,45.0,Hungarian,25000.00000,2005.0,7.1,607,-24998.04112
2323,Hayao Miyazaki,174.0,22.98191,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,24000.00000,1997.0,8.4,11000,-23977.01809
2334,Katsuhiro Ôtomo,105.0,4.10388,Action|Adventure|Animation|Family|Sci-Fi|Thriller,William Hootkins,Steamboy,13727,79.0,Japanese,21275.19898,2004.0,6.9,973,-21271.09510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5036,Anthony Vallone,NaN,NaN,Crime|Drama,Richard Jewell,The Mongol King,36,1.0,English,0.03250,2005.0,7.8,4,NaN
5038,Scott Smith,1.0,NaN,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,629,6.0,English,NaN,2013.0,7.7,84,NaN
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,73839,359.0,English,NaN,NaN,7.5,32000,NaN
5040,Benjamin Roberds,13.0,NaN,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,38,3.0,English,0.01400,2013.0,6.3,16,NaN
5041,Daniel Hsia,14.0,0.10443,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,1255,9.0,English,NaN,2012.0,6.3,660,NaN

In [21]:
top10 = movies.sort_values('profit',ascending=False).head(10)
top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.05847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.05847
29,Colin Trevorrow,644.0,6521.77271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,1500.0,2015.0,7.0,150000,5021.77271
26,James Cameron,315.0,6586.72302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72302
3024,George Lucas,282.0,4609.35665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,110.0,1977.0,8.7,33000,4499.35665
3080,Steven Spielberg,215.0,4349.49459,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,105.0,1982.0,7.9,34000,4244.49459
794,Joss Whedon,703.0,6232.79547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2200.0,2012.0,8.1,123000,4032.79547
17,Joss Whedon,703.0,6232.79547,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,2200.0,2012.0,8.1,123000,4032.79547
509,Roger Allers,186.0,4227.83777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,450.0,1994.0,8.5,17000,3777.83777
240,George Lucas,320.0,4745.44677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,1150.0,1999.0,6.5,13000,3595.44677
66,Christopher Nolan,645.0,5333.16061,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,1850.0,2008.0,9.0,37000,3483.16061

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [22]:
# Write your code for dropping duplicate values here
movies.drop_duplicates(inplace=True)

In [23]:
# Write code for repeating subtask 2 here
movies.head(10)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,7605.05847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.05847
1,Gore Verbinski,302.0,3094.04152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3000.0,2007.0,7.1,0,94.04152
2,Sam Mendes,602.0,2000.74175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2450.0,2015.0,6.8,85000,-449.25825
3,Christopher Nolan,813.0,4481.30642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2500.0,2012.0,8.5,164000,1981.30642
5,Andrew Stanton,462.0,730.58679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2637.0,2012.0,6.6,24000,-1906.41321
6,Sam Raimi,392.0,3365.30303,Action|Adventure|Romance,J.K. Simmons,Spider-Man 3,383056,1902.0,English,2580.0,2007.0,6.2,0,785.30303
7,Nathan Greno,324.0,2008.07262,Adventure|Animation|Comedy|Family|Fantasy|Musi...,Brad Garrett,Tangled,294810,387.0,English,2600.0,2010.0,7.8,29000,-591.92738
8,Joss Whedon,635.0,4589.91599,Action|Adventure|Sci-Fi,Chris Hemsworth,Avengers: Age of Ultron,462669,1117.0,English,2500.0,2015.0,7.5,118000,2089.91599
9,David Yates,375.0,3019.56980,Adventure|Family|Fantasy|Mystery,Alan Rickman,Harry Potter and the Half-Blood Prince,321795,973.0,English,2500.0,2009.0,7.5,10000,519.56980
10,Zack Snyder,673.0,3302.49062,Action|Adventure|Sci-Fi,Henry Cavill,Batman v Superman: Dawn of Justice,371639,3018.0,English,2500.0,2016.0,6.9,197000,802.49062

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [24]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDB_Top_250 = movies[movies.num_voted_users>25000]
IMDB_Top_250 = movies.sort_values(by='imdb_score',ascending=False).head(250)
IMDB_Top_250['rank'] = list(range(1,251))
IMDB_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
2765,John Blanchard,NaN,NaN,Comedy,Martin Short,Towering Inferno,10,NaN,English,NaN,NaN,9.5,0,NaN,1
1937,Frank Darabont,199.0,283.41469,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,250.0,1994.0,9.3,108000,33.41469,2
3466,Francis Ford Coppola,208.0,1348.21952,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,60.0,1972.0,9.2,43000,1288.21952,3
4409,John Stockwell,2.0,NaN,Action,Matthew Ziff,Kickboxer: Vengeance,246,1.0,English,170.0,2016.0,9.1,0,NaN,4
2824,NaN,53.0,4.47093,Drama,Krystyna Janda,Dekalog,12590,37.0,Polish,NaN,NaN,9.1,0,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,Frank Miller,374.0,740.98862,Crime|Thriller,Rosario Dawson,Sin City,656640,1732.0,English,400.0,2005.0,8.1,13000,340.98862,246
2830,Alejandro Amenábar,157.0,20.86345,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,100.0,2004.0,8.1,0,-79.13655,247
2870,Niels Arden Oplev,NaN,NaN,Action|Crime|Mystery|Thriller,Michael Nyqvist,Del 1 - Män som hatar kvinnor,335,NaN,Swedish,NaN,NaN,8.1,22,NaN,248
2614,Morten Tyldum,454.0,911.21452,Biography|Drama|Thriller|War,Benedict Cumberbatch,The Imitation Game,467613,608.0,English,140.0,2014.0,8.1,165000,771.21452,249
183,Paul Greengrass,329.0,2271.37090,Action|Mystery|Thriller,Matt Damon,The Bourne Ultimatum,491077,820.0,English,1100.0,2007.0,8.1,0,1171.37090,250

In [25]:
Top_Foreign_Lang_Film = IMDB_Top_250[IMDB_Top_250.language !='English']
Top_Foreign_Lang_Film.head(1)

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,rank
2824,NaN,53.0,4.47093,Drama,Krystyna Janda,Dekalog,12590,37.0,Polish,NaN,NaN,9.1,0,NaN,5

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [26]:
# Write your code for extracting the top 10 directors here
top10director = movies.pivot_table(values = 'imdb_score',index = 'director_name',aggfunc = 'mean')
top10director = top10director.sort_values(by = 'imdb_score', ascending=False)
top10director.head(10)

                  imdb_score
director_name
John Blanchard           9.5
Cary Bell                8.7
Mitchell Altieri         8.7
Sadyk Sher-Niyaz         8.7
Mike Mayhall             8.6
Charles Chaplin          8.6
Ron Fricke               8.5
Majid Majidi             8.5
Raja Menon               8.5
Damien Chazelle          8.5

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [27]:
# Write your code for extracting the first two genres of each movie here
movies['genre_1'] = movies.genres.apply(lambda x: x.split('|')[0])
movies['genre_2'] = movies.genres.apply(lambda x: x.split('|')[1] if len(x.split('|')) != 1 else x)
movies.head()

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
0,James Cameron,723.0,7605.05847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,2370.0,2009.0,7.9,33000,5235.05847,Action,Adventure
1,Gore Verbinski,302.0,3094.04152,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,471220,1238.0,English,3000.0,2007.0,7.1,0,94.04152,Action,Adventure
2,Sam Mendes,602.0,2000.74175,Action|Adventure|Thriller,Christoph Waltz,Spectre,275868,994.0,English,2450.0,2015.0,6.8,85000,-449.25825,Action,Adventure
3,Christopher Nolan,813.0,4481.30642,Action|Thriller,Tom Hardy,The Dark Knight Rises,1144337,2701.0,English,2500.0,2012.0,8.5,164000,1981.30642,Action,Thriller
5,Andrew Stanton,462.0,730.58679,Action|Adventure|Sci-Fi,Daryl Sabara,John Carter,212204,738.0,English,2637.0,2012.0,6.6,24000,-1906.41321,Action,Adventure

In [28]:
movies_by_segment = movies_by_segment = movies.pivot_table(values = 'gross', index = ['genre_1','genre_2'],aggfunc = 'mean')
movies_by_segment

                          gross
genre_1  genre_2
Action   Action      595.209067
         Adventure  1087.522711
         Animation   926.805149
         Biography   414.053803
         Comedy      521.020883
...                         ...
Romance  Sci-Fi      624.533150
Sci-Fi   Sci-Fi        0.181950
         Thriller    297.937900
Thriller Thriller      5.409697
Western  Western     119.932155

[107 rows x 1 columns]

In [29]:
PopGenre = movies_by_segment.sort_values(by = 'gross', ascending = False)
PopGenre = PopGenre.head()
PopGenre

                           gross
genre_1   genre_2
Family    Sci-Fi     4349.494590
Adventure Sci-Fi     2286.277585
          Animation  1170.500055
          Family     1155.375422
Action    Adventure  1087.522711

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [30]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies[movies['actor_1_name'] == 'Meryl Streep']
Meryl_Streep

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
410,Nancy Meyers,187.0,1127.03470,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,850.0,2009.0,6.6,0,277.03470,Comedy,Drama
1106,Curtis Hanson,42.0,468.15748,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,450.0,1994.0,6.3,0,18.15748,Action,Adventure
1204,Nora Ephron,252.0,941.25426,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,400.0,2009.0,7.0,13000,541.25426,Biography,Drama
1408,David Frankel,208.0,1247.32962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,350.0,2006.0,6.8,0,897.32962,Comedy,Drama
1483,Robert Redford,227.0,149.98070,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,350.0,2007.0,6.2,0,-200.01930,Drama,Thriller
1575,Sydney Pollack,66.0,871.00000,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,310.0,1985.0,7.2,0,561.00000,Biography,Drama
1618,David Frankel,234.0,635.36011,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,300.0,2012.0,6.3,0,335.36011,Comedy,Drama
1674,Carl Franklin,64.0,232.09440,Drama,Meryl Streep,One True Thing,9283,112.0,English,300.0,1998.0,7.0,592,-67.90560,Drama,Drama
1752,Stephen Frears,87.0,NaN,Biography|Comedy|Drama|Music|Romance,Meryl Streep,Florence Foster Jenkins,2167,32.0,English,290.0,2016.0,7.1,0,NaN,Biography,Comedy
1925,Stephen Daldry,174.0,415.97830,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,250.0,2002.0,7.6,0,165.97830,Drama,Romance
2781,Phyllida Lloyd,331.0,299.59436,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,130.0,2011.0,6.4,18000,169.59436,Biography,Drama
3135,Robert Altman,211.0,203.38609,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,100.0,2006.0,6.8,683,103.38609,Comedy,Drama
3641,Fred Zinnemann,38.0,NaN,Drama,Meryl Streep,Julia,6454,44.0,English,78.4,1977.0,7.4,733,NaN,Drama,Drama

In [31]:
Leo_Caprio = movies[movies['actor_1_name'] == 'Leonardo DiCaprio']
Leo_Caprio

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
26,James Cameron,315.0,6586.72302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72302,Drama,Romance
50,Baz Luhrmann,490.0,1448.12796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,1050.0,2013.0,7.3,115000,398.12796,Drama,Romance
97,Christopher Nolan,642.0,2925.68851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,1600.0,2010.0,8.8,175000,1325.68851,Action,Adventure
179,Alejandro G. Iñárritu,556.0,1836.35922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,1350.0,2015.0,8.1,190000,486.35922,Adventure,Drama
257,Martin Scorsese,267.0,1026.08827,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,1100.0,2004.0,7.5,0,-73.91173,Biography,Drama
296,Quentin Tarantino,765.0,1628.04648,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,1000.0,2012.0,8.5,199000,628.04648,Drama,Western
307,Edward Zwick,166.0,573.66262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,1000.0,2006.0,8.0,14000,-426.33738,Adventure,Drama
308,Martin Scorsese,606.0,1168.66727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,1000.0,2013.0,8.2,138000,168.66727,Biography,Comedy
326,Martin Scorsese,233.0,776.79638,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,1000.0,2002.0,7.5,0,-223.20362,Crime,Drama
361,Martin Scorsese,352.0,1323.73442,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,900.0,2006.0,8.5,29000,423.73442,Crime,Drama
452,Martin Scorsese,490.0,1279.68405,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,800.0,2010.0,8.1,53000,479.68405,Mystery,Thriller
641,Ridley Scott,238.0,393.80442,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,700.0,2008.0,7.1,0,-306.19558,Action,Drama
911,Steven Spielberg,194.0,1644.35221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,520.0,2002.0,8.0,15000,1124.35221,Biography,Crime
990,Danny Boyle,118.0,397.78599,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,500.0,2000.0,6.6,0,-102.21401,Adventure,Drama
1114,Sam Mendes,323.0,228.77808,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,350.0,2008.0,7.3,0,-121.22192,Drama,Romance
1422,Randall Wallace,83.0,568.76365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,350.0,1998.0,6.4,0,218.76365,Action,Adventure
1453,Clint Eastwood,392.0,373.04950,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,350.0,2011.0,6.6,16000,23.04950,Biography,Crime
1560,Sam Raimi,63.0,186.36537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,320.0,1995.0,6.4,0,-133.63463,Action,Thriller
2067,Jerry Zaks,45.0,127.82508,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,230.0,1996.0,6.7,1000,-102.17492,Drama,Drama
2757,Baz Luhrmann,106.0,463.38728,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,145.0,1996.0,6.8,10000,318.38728,Drama,Romance
3476,Baz Luhrmann,490.0,1448.12796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,1050.0,2013.0,7.3,115000,398.12796,Drama,Romance

In [32]:
Brad_Pitt = movies[movies['actor_1_name'] == 'Brad Pitt']
Brad_Pitt

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
101,David Fincher,362.0,1274.90802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,1500.0,2008.0,7.8,23000,-225.09198,Drama,Fantasy
147,Wolfgang Petersen,220.0,1332.28348,Adventure,Brad Pitt,Troy,381672,1694.0,English,1750.0,2004.0,7.2,0,-417.71652,Adventure,Adventure
254,Steven Soderbergh,198.0,1255.31634,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,1100.0,2004.0,6.4,0,155.31634,Crime,Thriller
255,Doug Liman,233.0,1863.36103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,1200.0,2005.0,6.5,0,663.36103,Action,Comedy
382,Tony Scott,142.0,0.26871,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,920.0,2001.0,7.0,0,-919.73129,Action,Crime
400,Steven Soderbergh,186.0,1834.05771,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,850.0,2001.0,7.8,0,984.05771,Crime,Thriller
470,David Ayer,406.0,857.07116,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,680.0,2014.0,7.6,82000,177.07116,Action,Drama
611,Jean-Jacques Annaud,76.0,379.01509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,700.0,1997.0,7.0,0,-320.98491,Adventure,Biography
683,David Fincher,315.0,370.23395,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,630.0,1999.0,8.8,48000,-259.76605,Drama,Drama
792,Patrick Gilmore,98.0,262.88320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,600.0,2003.0,6.7,880,-337.11680,Adventure,Animation
940,Neil Jordan,120.0,1052.64608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,600.0,1994.0,7.6,11000,452.64608,Drama,Fantasy
1490,Terrence Malick,584.0,133.03319,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,320.0,2011.0,6.7,39000,-186.96681,Drama,Fantasy
1722,Andrew Dominik,273.0,39.04982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,300.0,2007.0,7.5,0,-260.95018,Biography,Crime
2204,Alejandro G. Iñárritu,285.0,343.00771,Drama,Brad Pitt,Babel,243799,908.0,English,250.0,2006.0,7.5,0,93.00771,Drama,Drama
2333,Angelina Jolie Pitt,131.0,5.31009,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,100.0,2015.0,5.3,0,-94.68991,Drama,Romance
2682,Andrew Dominik,414.0,149.38570,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,150.0,2012.0,6.2,20000,-0.61430,Crime,Thriller
2898,Tony Scott,122.0,122.81500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,130.0,1993.0,8.0,15000,-7.18500,Action,Crime
4749,Tom DiCillo,10.0,NaN,Comedy|Music|Romance,Brad Pitt,Johnny Suede,3013,24.0,English,5.0,1991.0,5.8,344,NaN,Comedy,Music

In [33]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep,Leo_Caprio,Brad_Pitt])
Combined

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit,genre_1,genre_2
410,Nancy Meyers,187.0,1127.03470,Comedy|Drama|Romance,Meryl Streep,It's Complicated,69860,214.0,English,850.0,2009.0,6.6,0,277.03470,Comedy,Drama
1106,Curtis Hanson,42.0,468.15748,Action|Adventure|Crime|Thriller,Meryl Streep,The River Wild,32544,69.0,English,450.0,1994.0,6.3,0,18.15748,Action,Adventure
1204,Nora Ephron,252.0,941.25426,Biography|Drama|Romance,Meryl Streep,Julie & Julia,79264,277.0,English,400.0,2009.0,7.0,13000,541.25426,Biography,Drama
1408,David Frankel,208.0,1247.32962,Comedy|Drama|Romance,Meryl Streep,The Devil Wears Prada,286178,631.0,English,350.0,2006.0,6.8,0,897.32962,Comedy,Drama
1483,Robert Redford,227.0,149.98070,Drama|Thriller|War,Meryl Streep,Lions for Lambs,41170,298.0,English,350.0,2007.0,6.2,0,-200.01930,Drama,Thriller
1575,Sydney Pollack,66.0,871.00000,Biography|Drama|Romance,Meryl Streep,Out of Africa,52339,200.0,English,310.0,1985.0,7.2,0,561.00000,Biography,Drama
1618,David Frankel,234.0,635.36011,Comedy|Drama|Romance,Meryl Streep,Hope Springs,34258,178.0,English,300.0,2012.0,6.3,0,335.36011,Comedy,Drama
1674,Carl Franklin,64.0,232.09440,Drama,Meryl Streep,One True Thing,9283,112.0,English,300.0,1998.0,7.0,592,-67.90560,Drama,Drama
1752,Stephen Frears,87.0,NaN,Biography|Comedy|Drama|Music|Romance,Meryl Streep,Florence Foster Jenkins,2167,32.0,English,290.0,2016.0,7.1,0,NaN,Biography,Comedy
1925,Stephen Daldry,174.0,415.97830,Drama|Romance,Meryl Streep,The Hours,102123,660.0,English,250.0,2002.0,7.6,0,165.97830,Drama,Romance
2781,Phyllida Lloyd,331.0,299.59436,Biography|Drama|History,Meryl Streep,The Iron Lady,82327,350.0,English,130.0,2011.0,6.4,18000,169.59436,Biography,Drama
3135,Robert Altman,211.0,203.38609,Comedy|Drama|Music,Meryl Streep,A Prairie Home Companion,19655,280.0,English,100.0,2006.0,6.8,683,103.38609,Comedy,Drama
3641,Fred Zinnemann,38.0,NaN,Drama,Meryl Streep,Julia,6454,44.0,English,78.4,1977.0,7.4,733,NaN,Drama,Drama
26,James Cameron,315.0,6586.72302,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,2000.0,1997.0,7.7,26000,4586.72302,Drama,Romance
50,Baz Luhrmann,490.0,1448.12796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362912,753.0,English,1050.0,2013.0,7.3,115000,398.12796,Drama,Romance
97,Christopher Nolan,642.0,2925.68851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,Inception,1468200,2803.0,English,1600.0,2010.0,8.8,175000,1325.68851,Action,Adventure
179,Alejandro G. Iñárritu,556.0,1836.35922,Adventure|Drama|Thriller|Western,Leonardo DiCaprio,The Revenant,406020,1188.0,English,1350.0,2015.0,8.1,190000,486.35922,Adventure,Drama
257,Martin Scorsese,267.0,1026.08827,Biography|Drama,Leonardo DiCaprio,The Aviator,264318,799.0,English,1100.0,2004.0,7.5,0,-73.91173,Biography,Drama
296,Quentin Tarantino,765.0,1628.04648,Drama|Western,Leonardo DiCaprio,Django Unchained,955174,1193.0,English,1000.0,2012.0,8.5,199000,628.04648,Drama,Western
307,Edward Zwick,166.0,573.66262,Adventure|Drama|Thriller,Leonardo DiCaprio,Blood Diamond,400292,657.0,English,1000.0,2006.0,8.0,14000,-426.33738,Adventure,Drama
308,Martin Scorsese,606.0,1168.66727,Biography|Comedy|Crime|Drama,Leonardo DiCaprio,The Wolf of Wall Street,780588,1138.0,English,1000.0,2013.0,8.2,138000,168.66727,Biography,Comedy
326,Martin Scorsese,233.0,776.79638,Crime|Drama,Leonardo DiCaprio,Gangs of New York,314033,1166.0,English,1000.0,2002.0,7.5,0,-223.20362,Crime,Drama
361,Martin Scorsese,352.0,1323.73442,Crime|Drama|Thriller,Leonardo DiCaprio,The Departed,873649,2054.0,English,900.0,2006.0,8.5,29000,423.73442,Crime,Drama
452,Martin Scorsese,490.0,1279.68405,Mystery|Thriller,Leonardo DiCaprio,Shutter Island,786092,964.0,English,800.0,2010.0,8.1,53000,479.68405,Mystery,Thriller
641,Ridley Scott,238.0,393.80442,Action|Drama|Thriller,Leonardo DiCaprio,Body of Lies,174248,263.0,English,700.0,2008.0,7.1,0,-306.19558,Action,Drama
911,Steven Spielberg,194.0,1644.35221,Biography|Crime|Drama,Leonardo DiCaprio,Catch Me If You Can,525801,667.0,English,520.0,2002.0,8.0,15000,1124.35221,Biography,Crime
990,Danny Boyle,118.0,397.78599,Adventure|Drama|Thriller,Leonardo DiCaprio,The Beach,176169,548.0,English,500.0,2000.0,6.6,0,-102.21401,Adventure,Drama
1114,Sam Mendes,323.0,228.77808,Drama|Romance,Leonardo DiCaprio,Revolutionary Road,152591,414.0,English,350.0,2008.0,7.3,0,-121.22192,Drama,Romance
1422,Randall Wallace,83.0,568.76365,Action|Adventure,Leonardo DiCaprio,The Man in the Iron Mask,125219,244.0,English,350.0,1998.0,6.4,0,218.76365,Action,Adventure
1453,Clint Eastwood,392.0,373.04950,Biography|Crime|Drama,Leonardo DiCaprio,J. Edgar,102728,279.0,English,350.0,2011.0,6.6,16000,23.04950,Biography,Crime
1560,Sam Raimi,63.0,186.36537,Action|Thriller|Western,Leonardo DiCaprio,The Quick and the Dead,69197,216.0,English,320.0,1995.0,6.4,0,-133.63463,Action,Thriller
2067,Jerry Zaks,45.0,127.82508,Drama,Leonardo DiCaprio,Marvin's Room,20163,71.0,English,230.0,1996.0,6.7,1000,-102.17492,Drama,Drama
2757,Baz Luhrmann,106.0,463.38728,Drama|Romance,Leonardo DiCaprio,Romeo + Juliet,167750,506.0,English,145.0,1996.0,6.8,10000,318.38728,Drama,Romance
3476,Baz Luhrmann,490.0,1448.12796,Drama|Romance,Leonardo DiCaprio,The Great Gatsby,362933,753.0,English,1050.0,2013.0,7.3,115000,398.12796,Drama,Romance
101,David Fincher,362.0,1274.90802,Drama|Fantasy|Romance,Brad Pitt,The Curious Case of Benjamin Button,459346,822.0,English,1500.0,2008.0,7.8,23000,-225.09198,Drama,Fantasy
147,Wolfgang Petersen,220.0,1332.28348,Adventure,Brad Pitt,Troy,381672,1694.0,English,1750.0,2004.0,7.2,0,-417.71652,Adventure,Adventure
254,Steven Soderbergh,198.0,1255.31634,Crime|Thriller,Brad Pitt,Ocean's Twelve,284852,627.0,English,1100.0,2004.0,6.4,0,155.31634,Crime,Thriller
255,Doug Liman,233.0,1863.36103,Action|Comedy|Crime|Romance|Thriller,Brad Pitt,Mr. & Mrs. Smith,348861,798.0,English,1200.0,2005.0,6.5,0,663.36103,Action,Comedy
382,Tony Scott,142.0,0.26871,Action|Crime|Thriller,Brad Pitt,Spy Game,121259,361.0,English,920.0,2001.0,7.0,0,-919.73129,Action,Crime
400,Steven Soderbergh,186.0,1834.05771,Crime|Thriller,Brad Pitt,Ocean's Eleven,402645,845.0,English,850.0,2001.0,7.8,0,984.05771,Crime,Thriller
470,David Ayer,406.0,857.07116,Action|Drama|War,Brad Pitt,Fury,303185,701.0,English,680.0,2014.0,7.6,82000,177.07116,Action,Drama
611,Jean-Jacques Annaud,76.0,379.01509,Adventure|Biography|Drama|History|War,Brad Pitt,Seven Years in Tibet,96385,119.0,English,700.0,1997.0,7.0,0,-320.98491,Adventure,Biography
683,David Fincher,315.0,370.23395,Drama,Brad Pitt,Fight Club,1347461,2968.0,English,630.0,1999.0,8.8,48000,-259.76605,Drama,Drama
792,Patrick Gilmore,98.0,262.88320,Adventure|Animation|Comedy|Drama|Family|Fantas...,Brad Pitt,Sinbad: Legend of the Seven Seas,36144,91.0,English,600.0,2003.0,6.7,880,-337.11680,Adventure,Animation
940,Neil Jordan,120.0,1052.64608,Drama|Fantasy|Horror,Brad Pitt,Interview with the Vampire: The Vampire Chroni...,239752,406.0,English,600.0,1994.0,7.6,11000,452.64608,Drama,Fantasy
1490,Terrence Malick,584.0,133.03319,Drama|Fantasy,Brad Pitt,The Tree of Life,136367,975.0,English,320.0,2011.0,6.7,39000,-186.96681,Drama,Fantasy
1722,Andrew Dominik,273.0,39.04982,Biography|Crime|Drama|History|Western,Brad Pitt,The Assassination of Jesse James by the Coward...,136104,415.0,English,300.0,2007.0,7.5,0,-260.95018,Biography,Crime
2204,Alejandro G. Iñárritu,285.0,343.00771,Drama,Brad Pitt,Babel,243799,908.0,English,250.0,2006.0,7.5,0,93.00771,Drama,Drama
2333,Angelina Jolie Pitt,131.0,5.31009,Drama|Romance,Brad Pitt,By the Sea,7976,61.0,English,100.0,2015.0,5.3,0,-94.68991,Drama,Romance
2682,Andrew Dominik,414.0,149.38570,Crime|Thriller,Brad Pitt,Killing Them Softly,111625,369.0,English,150.0,2012.0,6.2,20000,-0.61430,Crime,Thriller
2898,Tony Scott,122.0,122.81500,Action|Crime|Drama|Romance|Thriller,Brad Pitt,True Romance,163492,460.0,English,130.0,1993.0,8.0,15000,-7.18500,Action,Crime
4749,Tom DiCillo,10.0,NaN,Comedy|Music|Romance,Brad Pitt,Johnny Suede,3013,24.0,English,5.0,1991.0,5.8,344,NaN,Comedy,Music

In [34]:
# Write your code for grouping the combined dataframe here
Lead_Actor = Combined.groupby('actor_1_name')

In [35]:
# Write the code for finding the mean of critic reviews and audience reviews here
Lead_Actor['num_critic_for_reviews','num_user_for_reviews'].mean()

                   num_critic_for_reviews  num_user_for_reviews
actor_1_name
Brad Pitt                      231.944444            702.444444
Leonardo DiCaprio              330.190476            914.476190
Meryl Streep                   163.153846            257.307692

**Checkpoint 6:** `Leonardo` has aced both the lists!